body {
    background-color: #727171;
    color:#525252;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.heading {
    background-color: #ffffff;
    text-align: center;
    font-size: 3.5rem;
    margin-top: 0%;
    width: 100%;
    
}

/* Quiz box styles */
.quiz-game {
    background-color: #ffffff;
    
    border-radius: 10px;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Question area styles */
.quiz-game h2 {
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #3a3a3a;
    text-align: center;
}

/* answer button styles */
.btn {
    background: #ffffff;
    color: #3a3a3a;
    border: 1px solid #3a3a3a;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    text-align: left;
}

/* button styles when hovered */
.btn:hover {
    background: #3a3a3a;
    color: #ffffff;
}

.score-area {
    display: block;
    text-align: center;
}

/* score number is green and incorrect number is red */
#score {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

/* next question button styles */
#btn-next {
    background: #3a3a3a;
    color: #ffffff;
    width: 100px;
    border: 0;
    padding: 15px;
    margin: 10px auto 0;
    border-radius: 4px;
    /* hides button until question is answered */
    display: none;
    font-weight: 500;
    cursor: pointer;
}